version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: expense_postgres
    restart: unless-stopped

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: expense_db

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: expense_redis
    restart: unless-stopped

    ports:
      - "6379:6379"

    command: redis-server --appendonly yes

volumes:
  postgres_data: